<% @field ||= Field.new%>
<%= form_for(@field) do |f| %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :long %>
  <%= f.hidden_field :state %>
  <%= f.hidden_field :country %>
  <%= f.hidden_field :city %>
  <%= f.hidden_field :street %>
  <%= f.hidden_field :neighbourhood %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section class="row-fluid">
<div class="span12">
  <h3>Ubicación de la cancha</h3>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, size: 40, class: "wide" %>
  </div>
  <div id="map_canvas"></div>
</div>
</section>
<section class="row-fluid">
<div class="row-fluid">
    <h3>Datos de la cancha</h3>
</div>
<div class="row-fluid">
  <div class="span3">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :link %>
      <%= f.text_field :link %>
    </div>
  </div>
  <div class="span3" >
    <div class="field">
      <%= f.label :mail %>
      <%= f.text_field :mail %>
    </div>
    <div class="field">
      <%= f.label :field_type_id %>
      <%= f.collection_select  :field_type_id, FieldType.all, :id, :name, :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :usage %>
      <%= f.select :usage, Field::USAGE, :include_blank => true %>
    </div>
  </div>
  <div class="span6">
    <% unless current_user %>
      <%= recaptcha_tags :display => {:theme => "clean"}%> <br />
    <% end %>
    <div class="action row-fluid">
      <%= f.submit class: "btn-large btn-success wide"%>
    </div>
  </div>
</div>
</section>
<% end %>
