<section class="fields">
  <table class="table">
    <tr>
      <th><%= t :name %></th>
      <th><%= t :address %></th>
      <th><%= t :field_type %></th>
      <th></th>
      <% if current_user%>
        <th></th>
      <% end %>
    </tr>
    <% fields.each do |field| %>
      <tr>
      <td><%= field.name %></td>
      <td><%= field.address %></td>
      <td><%= field.field_type.name if field.field_type %></td>
      <td><%= link_to (t :show), field_path(field), class: "btn" %></td>
      <% if can? :update, field%>
        <td><%= link_to 'Edit', edit_field_path(field), class: "btn" %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</section>
<section>
  <div id="map_canvas"></div>
</section>
<section>
  <%= link_to "Registra una nueva cancha", new_field_path, class: "btn-large btn-success wide" %>
</section>
<% content_for :javascript do%>
  <script id="map_info_json" type="text/json">
    <%=raw fields.map_info_to_json %>
  </script>
  <%=javascript_include_tag 'fields_index_map'%>
<% end %>
