<section class="row-fluid">
  <div class="span12">
    <h3>Ubicación de la cancha</h3>
    <div id="map_canvas"></div>
  </div>
</section>
<section class="row-fluid">
  <div class="span6">
    <p>
    <b>Name:</b>
    <%= @field.name %>
    </p>
    <p>
    <b>Address:</b>
    <%= @field.address %>
    </p>

    <p>
    <b>City:</b>
    <%= @field.city %>
    </p>

    <p>
    <b>State:</b>
    <%= @field.state %>
    </p>

    <p>
    <b>Country:</b>
    <%= @field.country %>
    </p>

    <p>
    <b>Street:</b>
    <%= @field.street %>
    </p>
  </div>
  <div class="span6">
    <p>
    <b>Neighbourhood:</b>
    <%= @field.neighbourhood %>
    </p>

    <p>
    <b>Field type:</b>
    <%= @field.field_type.name if @field.field_type %>
    </p>

    <p>
    <b>Phone:</b>
    <%= @field.phone %>
    </p>

    <p>
    <b>Link:</b>
    <%= @field.link %>
    </p>

    <p>
    <b>Mail:</b>
    <%= @field.mail %>
    </p>

    <p>
    <b>Usage:</b>
    <%= @field.usage %>
    </p>
  </div>
</section>

<%= link_to 'Edit', edit_field_path(@field) if can? :update, Field%>
<% content_for :javascript do%>
  <script id="map_info_json" type="text/json">
    <%=raw @field.to_json(:only => [:id, :name, :lat, :long]) %>
  </script>
  <%=javascript_include_tag 'fields_show'%>
<% end %>
