<!DOCTYPE html>
<html>
<head>
  <title>Punterazo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=es&region=MX">
  </script>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Punterazo</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><%= link_to "Mis Canchas", fields_user_path(current_user) if current_user%></li>
            <%= render 'shared/admin_links' if current_user.try(:admin?)%>
            <%= render 'devise/user_links' %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container">
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>
  </div>
</body>
</html>
