<!DOCTYPE html>
<html>
<head>
  <title>Punterazo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="hmenu">
    <%= render 'devise/user_links' %>
  </ul>
  <%= yield %>

</body>
</html>
